include ./head.jade
doctype html
html(lang="en")
  +header
  title="for Léa"
body
  div.wrap
    div.title
      //- i.iconfont.icon-hua
      span 愿你每天醒来都看到最美的风景
      p for Léa
    div.content
      - var ary = Data
      each item in ary
        div.item
          a(href="/photo/#{item.id}", target="view_window")
            img(src="#{item.tmburl}", alt="#{item.title}", class="progressive__img progressive--not-loaded", data-progressive="#{item.tmburl}")
          div.desc
            div.mask #{item.copyright}
            p.item-title #{item.title}
            p.item-wz #{item.continent}, #{item.attribute}
            p.item-desc #{item.description}
    div.page
      a(href="/?p=#{Prev}", title="上一页") 上一页
      span #{CurrPage} / #{Total}
      a(href="/?p=#{Next}", title="下一页") 下一页
  footer
    p for Léa
  script(type="text/javascript").
    progressively.init()
