include ./head.pug
doctype html
html(lang="en")
  +header
  title="for Léa"
body
  div.wrap
    div.title
      //- i.iconfont.icon-hua
      span 愿你每天醒来都看到最美的风景
      p for Léa
    div.content
      - var ary = data
      each item in ary
        -var cdnurl = item.cdnurl
        div.item
          a(href="/photo/#{item.id}", target="view_window")
            img(src=cdnurl, alt="#{item.title}", class="progressive__img progressive--not-loaded", data-progressive=cdnurl)
          div.desc
            div.mask #{item.title}
            p.item-desc #{item.story}
    div.page
      a(href="/?p="+Prev, title="上一页") 上一页
      span #{currentPage} / #{totalPages}
      a(href="/?p="+Next, title="下一页") 下一页
  footer
    p for Léa
  script(type="text/javascript").
    progressively.init()
